<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../ASSETS/css/flex.css">
  <title>Modulo 3</title>
  <script src="https://kit.fontawesome.com/77024fa835.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="contenedor">
		<header>
			<div class="logo">
				<img src="../ASSETS/imagenes/img-grid/Site-logo.webp" width="150" alt="">
				<a href="#">Naruto Uzumaki</a>
			</div>

			<nav>
				<a href="../index.html">Inicio</a>
				<a href="../index.html">Blog</a>
				<a href="../index.html">Historia</a>
				<a href="../index.html">Arcos</a>
			</nav>
		</header>

		<section class="main">
			<article>
				<h2 class="titulo">Naruto Shippuden</h2>
				<p class="cont-card" >Naruto: Shippūden (ナルト 疾風伝, Naruto Shippūden, que significa "Naruto: Crónicas del Huracán") es una adaptación del anime de la segunda parte del manga, tiene lugar dos años y medio después de que Naruto partiera de Konohagakure con Jiraiya. La serie fue transmitida en Japón por TV-Tokyo desde el 15 de febrero de 2007 hasta concluir el 23 de marzo del 2017 con diez años de transmisión. La trama incluye nuevos personajes, como Sai, Yamato, los Kages que no se habían visto hasta ahora, y los restantes miembros de la organización Akatsuki, mostrando éste último un papel más activo que antes en su búsqueda para obtener a todas las Bestias con Cola.</p>
			</article>

			<article>
				<h2 class="titulo">Naruto Uzumaki (うずまきナルト, Uzumaki Naruto)</h2>
				<p class="cont-card" >es el protagonista de la serie del manga y anime Naruto y Naruto Shippūden. Asimismo es partícipe del manga y anime Boruto: Naruto Next Generations, secuela de la obra original de Masashi Kishimoto. Es residente de Konohagakure, hijo del Cuarto Hokage, Minato Namikaze y su esposa Kushina Uzumaki, además de ser la actual reencarnación de Asura Ōtsutsuki.</p>
			</article>

            <article>
				<h2 class="titulo">Sakura Haruno (春野サクラ, Haruno Sakura) </h2>
				<p class="cont-card" >cuyo nombre actual es Sakura Uchiha (うちはサクラ, Uchiha Sakura) es la tritagonista de la serie. Es una kunoichi de nivel Jōnin, miembro del Equipo Kakashi y una gran amiga de Naruto Uzumaki. Después de su entrenamiento con Tsunade, se convirtió en una Ninja Médico. Finalmente se convirtió en la esposa de Sasuke Uchiha y la madre de Sarada Uchiha.</p>
			</article>
		</section>

		<aside>
            <div class="contenedor">
                <div class="contenedor_tarjeta">
                    <a href="../index.html">
                        <figure id="tarjeta">
                            <img src="../ASSETS/imagenes/img-grid/naruto-netflix.jpg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Akatsuki (暁, Akatsuki; literalmente Amanecer) </h2>
                                <hr>
                                <p>fue en sus comienzos, una organización que buscaba acabar con la tiranía y la opresión a través de medios pacíficos, pero que pronto cambiaría sus métodos hasta volverse una organización criminal constituida por varios ninjas renegados de Clase S que se convirtieron en los principales antagonistas de la serie Naruto: Shippūden.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
        
                <div class="contenedor_tarjeta">
                    <a href="../index.html">
                        <figure id="tarjeta">
                            <img src="../ASSETS/imagenes/img-grid/12695889_1553263121650628_2104897200_n.webp" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Akatsuki (暁, Akatsuki; literalmente Amanecer) </h2>
                                <hr>
                                <p>fue en sus comienzos, una organización que buscaba acabar con la tiranía y la opresión a través de medios pacíficos, pero que pronto cambiaría sus métodos hasta volverse una organización criminal constituida por varios ninjas renegados de Clase S que se convirtieron en los principales antagonistas de la serie Naruto: Shippūden.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
        
                <div class="contenedor_tarjeta">
                    <a href="../index.html">
                        <figure id="tarjeta">
                            <img src="../ASSETS/imagenes/img-grid/naruto-shippuden.jpg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Akatsuki (暁, Akatsuki; literalmente Amanecer) </h2>
                                <hr>
                                <p>fue en sus comienzos, una organización que buscaba acabar con la tiranía y la opresión a través de medios pacíficos, pero que pronto cambiaría sus métodos hasta volverse una organización criminal constituida por varios ninjas renegados de Clase S que se convirtieron en los principales antagonistas de la serie Naruto: Shippūden.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
		</aside>

		<footer>
				<a class="links" href="#">@NARUTO SHIPPUDEN@</a>
		</footer>
	</div>
</body>
</html>